<section>
  <div class="container">
    <div class="form-area">
      <form [formGroup]="apiForm" (ngSubmit)="onSubmit()">

          <div class="col-lg-4 col-sm-12">
            <label>Name</label>
            <input type="text" formControlName="name">
          </div>

          <div class="col-lg-4 col-sm-12">
            <label>Age</label>
            <input type=number formControlName="age">
          </div>

        <div class="col-lg-4 col-sm-12">
          <label>Stream</label>
          <input type=text formControlName="stream">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>phone no.</label>
          <input type=number formControlName="phone">
        </div>




        <div class="parentBlock">
          <div class="block2">
            <button [disabled]="!apiForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section>
  <div class="container mt-6">
   <table>
     <tr>
       <th *ngFor="let x of headers">
          {{x}}
       </th>
     </tr>

     <tr *ngFor="let x of dataList">
       <td *ngFor="let y of headers">
          {{x[y]}}
       </td>
     </tr>
   </table>
  </div>
</section>
